
    
    <footer class="footer-32892 pb-0">
      <div class="site-section">
        <div class="container">

          
          <div class="row">

            <div class="col-md pr-md-5 mb-4 mb-md-0">
              <h3>About Us</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam itaque unde facere repellendus, odio et iste voluptatum aspernatur ratione mollitia tempora eligendi maxime est, blanditiis accusamus. Incidunt, aut, quis!</p>
              <ul class="list-unstyled quick-info mb-4">
                <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span> +216 99 999 000 </a></li>
                <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span> hicm@gmail.com</a></li>
              </ul>

              <form action="#" class="subscribe">
                <input type="text" class="form-control" placeholder="Enter your e-mail">
                <input type="submit" class="btn btn-submit" value="Send">
              </form>
            </div>
            <div class="col-md mb-4 mb-md-0">
              <h3>Latest Tweet</h3>
              <ul class="list-unstyled tweets">
                <li class="d-flex">
                  <div class="mr-4"><span class="icon icon-twitter"></span></div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam porro excepturi.</div>
                </li>
                <li class="d-flex">
                  <div class="mr-4"><span class="icon icon-twitter"></span></div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam porro excepturi.</div>
                </li>
                <li class="d-flex">
                  <div class="mr-4"><span class="icon icon-twitter"></span></div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam porro excepturi.</div>
                </li>
              </ul>
            </div>


            <div class="col-md-3 mb-4 mb-md-0">
              <h3>Tunisia</h3>
              <div class="row gallery">
                <div class="col-6">
                  <a href="#"><img src="/images/tunis.jpg" alt="Image" class="img-fluid" style="width: 100%;height: 100px;"></a>
                  <a href="#"><img src="/images/tunisia-tunis-sidi-bou-said-whitewashed-house-view.jpg" alt="Image" class="img-fluid" style="width: 100%;height: 100px;"></a>
                </div>
                <div class="col-6">
                  <a href="#"><img src="/images/capzbib2.jpg" alt="Image" class="img-fluid" style="width: 100%;height: 100px;"></a>
                  <a href="#"><img src="/images/hammamet-min.jpg" alt="Image" class="img-fluid" style="width: 100%;height: 100px;"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12">
              <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
                <ul class="list-unstyled footer-menu mr-auto">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Our works</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
                <div class="site-logo-wrap ml-auto">
                  <a href="#" class="site-logo">
                    Hicmtrex
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </footer>
    
   
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>