<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        </head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
        <%- include('../partials/flash')%>

<div class="container d-flex justify-content-center align-items-center mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow"> 
        <img id="login-img" src="https://res.cloudinary.com/hicm/image/upload/v1623618635/capital_jcmrvi.jpg"
                    alt="" class="card-img-top" />

                    <div class="card-body">
                      <h5 class="card-title">Register</h5>
                      <form action="/register" class="validated-form" novalidate method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="username">username</label>
                            <input class="form-control" type="text" id="username" name="username"required>
                              <div class="valid-feedback">Looks Good</div>
                        </div >
                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <input class="form-control" type="email" id="email" name="email"required>
                              <div class="valid-feedback">Looks Good</div>
                        </div >
                        <div class="mb-3">
                            <label class="form-label" for="password">password</label>
                            <input class="form-control" type="password" id="password" name="password"required>
                              <div class="valid-feedback">Looks Good</div>
                        </div >
                        <button class="btn btn-success">Register</button>
                    </form>
                    
                    
                    </div>
      </div>
    </div>
  </div>
</div>


</main>
<%- include('../partials/footer')%>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src='/javascripts/validateForms.js'></script>
<script src="js/popper.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
</body>
</html>  
  


